[submodule "lib/msgpack-c"]
	path = lib/msgpack-c
	url = https://github.com/msgpack/msgpack-c
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "lib/zstd"]
	path = lib/zstd
	url = https://github.com/facebook/zstd
[submodule "lib/lz4"]
	path = lib/lz4
	url = https://github.com/lz4/lz4
